.button {
  display: flex;
  padding: 1rem 1.6rem;
  font-size: inherit;
  border-radius: 4rem;
  align-items: center;
  box-shadow: var(--box-shadow);

  &--red,
  &--red:hover,
  &--red:link {
    color: white;
    background-color: var(--color-red);
  }

  &--white,
  &--white:hover,
  &--white:link {
    color: black;
    background-color: white;
  }
}
