.button {
  display: flex;
  padding: 1rem 1.6rem;
  font-size: inherit;
  border-radius: 4rem;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
  min-height: 5rem;

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-400);
  }

  &:active {
    transform: translateY(1px);
  }

  &--red,
  &--red:hover,
  &--red:link {
    color: white;
    background-color: var(--color-red);
  }

  &--white,
  &--white:hover,
  &--white:link {
    color: black;
    background-color: white;
  }

  &--blue,
  &--blue:hover,
  &--blue:link {
    color: white;
    background-color: #3b5998;
  }
}
