.press {
  &__pack {
    @extend %margin-xl--top;
    @extend %padding-lg--bottom;
    padding-top: 0;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    @include breakpoint(md) {
      grid-column: 3 / 9;
    }
  }

  &__subheading {
    @extend %padding-md--bottom;
  }

  &__heading {
    border-bottom: 1px solid var(--color-light-grey);
  }

  .heading-primary {
    max-width: 50rem;
  }

  &__file {
    @extend %padding-md--v;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpoint(md) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__description {
    @extend %margin-sm--v;
    display: inline-block;
  }

  &__bg {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
  }

  &__heading-secondary {
    @extend %padding-sm--h;
    max-width: unset;

    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @include breakpoint(md) {
      padding-left: 0;
      padding-right: 0;

      grid-column: 3 / 9;
    }
  }
}
