.article {
  margin-top: var(--logo-height);
  grid-column: 1 / -1;

  @include breakpoint(md) {
    margin-top: 0;
    grid-column: 2 / 10;
  }

  &__img {
    height: 40vh;
    border-radius: 1rem;

    grid-row: 1 / 2;
  }

  &__comments {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  &__title,
  &__content {
    @include breakpoint(md) {
      padding: 0 10%;
    }
  }

  &__description {
    @extend %padding-md--v;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light-grey);

    @include breakpoint(md) {
      margin-left: 10%;
    }
  }

  &__authors {
    display: flex;
  }

  &__author {
    display: grid;
    grid-template-columns: 6rem max-content;
    grid-template-rows: 6rem;
    align-items: center;
    grid-gap: var(--space-sm);

    &:not(:last-child) {
      @extend %margin-md--right;
    }
  }

  &__author-img {
    border-radius: 50%;
    align-self: stretch;
  }

  &__content {
    @extend %margin-xl--bottom;
  }
}
