.article {
  margin-top: var(--logo-height);
  grid-column: 1 / -1;

  @include breakpoint(md) {
    margin-top: 0;
    grid-column: 2 / 10;
  }

  &__img {
    height: 40vh;
    border-radius: 1rem;

    grid-row: 1 / 2;
  }

  &__comments {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  &__title,
  &__content,
  &__sources {
    @include breakpoint(md) {
      margin-left: 10%;
    }
  }

  &__description {
    @extend %padding-md--v;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-grey);

    @include breakpoint(md) {
      margin-left: 10%;
      flex-direction: row;
      align-items: center;
    }
  }

  &__authors {
    @extend %margin-md--bottom;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
      margin-bottom: 0;
    }
  }

  &__author {
    display: grid;
    grid-template-columns: 6rem max-content;
    grid-template-rows: 6rem;
    align-items: center;
    grid-gap: var(--space-sm);

    &:not(:last-child) {
      @extend %margin-md--right;
    }
  }

  &__sources {
    @extend %margin-md--top;
    font-style: italic;
  }

  &__author-img {
    border-radius: 50%;
    align-self: stretch;
  }

  #comments {
    @extend %margin-lg--top;
  }
}
