.map-view {
  &__faq {
    grid-row: 3 / 4;
    grid-column: 1 / -1;

    @include breakpoint(md) {
      grid-column: 2 / 10;
    }

    &.section {
      padding-top: 0;
    }
  }

  &__map {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    height: 60vh;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint(md) {
      height: 75vh;
    }
  }

  &__btn {
    @extend %padding-sm--left;
    @extend %margin-md--bottom;
    grid-row: 4 / 5;
    grid-column: 1;
    align-self: end;
    z-index: 1;

    @include breakpoint(md) {
      padding-left: 0;
      grid-column: 2;
    }
  }
}
