$hamburger-height: 4px;

.hamburger {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 7 * $hamburger-height;
  background-color: unset;

  span {
    display: block;
    position: absolute;
    height: $hamburger-height;
    width: 100%;
    left: 0;
    border-radius: $hamburger-height;
    background-color: black;
    transition: transform 0.2s ease-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 3 * $hamburger-height;
    }

    &:last-child {
      top: 6 * $hamburger-height;
    }
  }

  &--active {
    span {
      &:nth-child(1),
      &:last-child {
        width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
