.article-tile {
  & > * {
    @extend %margin-sm--v;
  }

  &:hover &__title {
    text-decoration: underline;
  }

  &:hover &__img {
    transform: scale(1.05);
  }

  &__img-wrapper {
    margin-top: 0;
    overflow: hidden;
    border-radius: 1.5rem;
  }

  &__title {
    transition: all 0.2s;
  }

  &__img {
    height: 30rem;
    transition: all 0.3s;
  }

  &__read-more {
    margin-bottom: 0;
    color: var(--color-red);
  }
}
