.footer {
  @extend %padding-xl--bottom;
  position: relative;
  grid-column: 7 / 10;
  grid-row: 6 / 7;
  align-self: end;
  justify-self: end;
  line-height: 2;

  .button {
    @extend %margin-lg--bottom;
    margin-left: auto;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 41vh;
  //   background-color: var(--color-bg);
  //   z-index: -1;
  // }

  &__icon {
    @extend %margin-xl--top;
    display: block;
    height: 44vw;
    width: 100vw;

    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }
}
