.footer {
  @extend %padding-sm;
  position: relative;
  grid-row: 7 / 8;
  grid-column: 1 / -1;
  align-self: end;
  font-size: 1.4rem;
  line-height: 2;
  background-color: var(--color-bg);

  @include breakpoint(md) {
    padding-bottom: var(--space-xl);
    justify-self: end;
    grid-row: 6 / 7;
    grid-column: 7 / 10;
    background-color: transparent;
  }

  .button {
    @extend %margin-lg--bottom;

    @include breakpoint(md) {
      margin-left: auto;
    }
  }

  &__icon {
    @extend %margin-xl--top;
    display: block;
    height: 39vw;
    width: 100vw;

    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }
}

$col: 144px;

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include breakpoint(md) {
    grid-template-columns:
      minmax($col, 1fr) repeat(8, minmax(min-content, $col))
      minmax($col, 1fr);
  }

  &__logo {
    position: fixed;
    display: flex;
    top: var(--space-sm);
    left: 0;
    width: $col;
    z-index: 4;
    justify-content: center;

    @include breakpoint(md) {
      top: var(--space-lg);
    }

    @include breakpoint(xl) {
      left: calc((100vw - 8 * #{$col}) / 2 - #{$col});
    }

    .icon {
      fill: var(--color-red);
      height: 10rem;
    }
  }

  &__logo-title {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
  }

  &__logo-text {
    @extend %margin-lg--top;
    display: none;
    height: var(--logo-height);
    flex-direction: column;
    justify-content: center;
    z-index: 4;

    @include breakpoint(md) {
      display: flex;
      grid-row: 1 / 2;

      grid-column: 2 / -1;
    }

    &,
    &:hover {
      color: var(--color-red);
      color: var(--color-red);
    }
  }

  &__hamburger {
    @extend %padding-sm--left;
    position: fixed;
    display: flex;
    top: var(--space-md);
    right: var(--space-md);
    align-items: center;
    z-index: 5;

    @include breakpoint(md) {
      right: $col;
      top: var(--space-lg);
      height: var(--logo-height);
      transform: translateX(100%);
    }

    @include breakpoint(xl) {
      right: calc((100vw - 8 * #{$col}) / 2);
    }
  }
}

.nav {
  @extend %padding-sm--h;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__items {
    width: 100%;

    @include breakpoint(md) {
      width: calc(100vw - 2 * #{$col});
      padding: 0;
    }

    @include breakpoint(xl) {
      width: 8 * $col;
    }

    a:not(:last-child) .nav__item {
      border-bottom: 1px solid var(--color-light-grey);
    }
  }

  &__item {
    @extend %padding-sm--v;

    &:hover {
      color: var(--color-red);
    }
  }
}
