.articles {
  grid-column: 2 / 10;
  grid-row: 5 / 6;

  &__paragraph {
    @extend %margin-lg--v;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--space-md);
  }
}
