.articles {
  grid-column: 1 / -1;
  grid-row: 5 / 6;

  @include breakpoint(md) {
    grid-column: 2 / 10;
  }

  &__paragraph {
    @extend %margin-lg--v;
  }

  &__list {
    @extend %margin-lg--v;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-md);

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
