.about {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  @include breakpoint(md) {
    grid-column: 2 / 10;
  }

  .heading-primary {
    max-width: 80rem;
  }

  &__paragraph {
    @extend %margin-lg--v;
  }

  &__instruction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-md);
  }

  &__icon-wrapper {
    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    @extend %margin-lg--bottom;
    position: relative;
    display: flex;
    justify-content: center;

    .icon {
      position: absolute;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      margin-top: var(--space-md);
      height: 100%;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-bg);
      border-radius: 50%;
      z-index: -1;
    }
  }
}
