.banner {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: max-content 1fr max-content 2fr max-content 2fr 8rem;
  grid-gap: var(--space-sm);
  overflow: hidden;

  grid-column: 2 / -1;
  grid-row: 1 / 2;

  &__bg {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    z-index: -1;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__fb-btn {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg);
  }

  &__logo-title {
    font-size: 2.5rem;
  }

  &__logo-text {
    display: flex;
    height: var(--logo-height);
    color: var(--color-red);
    flex-direction: column;
    justify-content: center;

    grid-row: 1 / 2;
  }

  &__logo-description {
    color: var(--color-red);
  }

  &__heading {
    grid-row: 3 / 4;
  }

  &__buttons {
    display: flex;
    grid-row: 5 / 6;

    .button:first-of-type {
      @extend %margin-md--right;

      .icon {
        background-color: white;
        fill: var(--color-red);
      }
    }

    .button:nth-of-type(2) .icon {
      background-color: var(--color-bg);
      fill: black;
    }
  }

  &__icon {
    @extend %margin-xs--right;
    height: 3rem;
    width: 3rem;
  }

  &__scroll-down {
    display: flex;
    flex-direction: column;
    grid-row: 7 / 8;

    &-icon {
      width: 3rem;
      height: 3rem;
      box-shadow: var(--box-shadow);
      transform: translateY(-50%);
    }

    &-bg {
      height: 8rem;
      background-color: white;
      justify-self: end;
      width: 100%;
      align-self: end;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__shape {
    position: absolute;
    width: 50vw;
    right: 0;
  }

  &__illustration {
    position: absolute;
    right: var(--space-sm);
    bottom: 0;
    height: 80vh;
    z-index: 0;
  }
}
