.banner {
  position: relative;
  display: grid;
  background-color: var(--color-bg);
  align-items: center;
  grid-template-rows: max-content max-content max-content 1fr 8rem;
  grid-gap: var(--space-sm);
  overflow: hidden;

  grid-column: 2 / -1;
  grid-row: 1 / 2;

  &__bg {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__fb-btn {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg);
  }

  &__logo-title {
    font-size: 2.5rem;
  }

  &__logo-text {
    color: var(--color-red);

    grid-row: 1 / 2;
  }

  &__logo-description {
    color: var(--color-red);
  }

  &__heading {
    grid-row: 2 / 3;
  }

  &__paragraph {
    grid-row: 3 / 4;
  }

  &__buttons {
    display: flex;
    grid-row: 4 / 5;

    .button {
      @extend %margin-md--right;
    }
  }

  &__icon {
    @extend %margin-xs--right;
    height: 3rem;
    width: 3rem;
    background-color: white;
  }

  &__scroll-down {
    display: flex;
    flex-direction: column;
    grid-row: 5 / 6;

    &-icon {
      width: 3rem;
      height: 3rem;
      box-shadow: var(--box-shadow);
      transform: translateY(-50%);
    }
  }

  &__shape {
    position: absolute;
    width: 50vw;
    right: 0;
  }

  &__illustration {
    position: absolute;
    right: var(--space-sm);
    bottom: 0;
    height: 80vh;
    z-index: 0;
  }
}
