$scroll-down-height: 6rem;

.banner {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr max-content 2fr max-content 2fr $scroll-down-height;
  grid-gap: var(--space-sm);
  height: 100vh;

  grid-column: 2 / -1;
  grid-row: 1 / 2;

  &__bg {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    z-index: -1;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__fb-btn {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg);
  }

  &__heading {
    grid-row: 3 / 4;
    max-width: 50rem;
  }

  &__buttons {
    display: flex;
    grid-row: 5 / 6;

    .button:first-of-type {
      @extend %margin-md--right;

      .icon {
        background-color: white;
        fill: var(--color-red);
      }
    }

    .button:nth-of-type(2) .icon {
      background-color: var(--color-bg);
      fill: black;
    }
  }

  &__icon {
    @extend %margin-xs--right;
    height: 3rem;
    width: 3rem;
  }

  &__scroll-down {
    @extend %padding-sm--bottom;
    grid-row: 7 / 8;
    height: $scroll-down-height;
    z-index: 2;

    a {
      display: flex;
      flex-direction: column;
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      box-shadow: var(--box-shadow);
      transform: translateY(-50%);
      background-color: white;
    }

    &-bg {
      height: $scroll-down-height;
      background-color: white;
      justify-self: end;
      width: 100%;
      align-self: end;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__shape {
    width: 50vw;

    &-wrapper {
      height: 100vh;
      overflow: hidden;
      justify-self: flex-end;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__illustration {
    position: absolute;
    right: var(--space-sm);
    bottom: 0;
    height: 80vh;
    z-index: 0;
  }
}
