$scroll-down-height: 6rem;

.banner {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr max-content 2fr max-content 2fr minmax(
      $scroll-down-height,
      max-content
    );
  grid-gap: var(--space-sm);
  height: 100vh;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @include breakpoint(md) {
    grid-column: 2 / -1;
  }

  &__bg {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    z-index: -1;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__fb-btn {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg);

    @include breakpoint(md) {
      display: block;
    }
  }

  &__heading {
    grid-row: 3 / 4;
    max-width: 50rem;
    z-index: 1;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row: 5 / 6;

    @include breakpoint(md) {
      flex-direction: row;
    }

    .button:first-of-type {
      @extend %margin-md--right;
      @extend %margin-md--bottom;

      @include breakpoint(md) {
        margin-bottom: 0;
      }

      .icon {
        background-color: white;
        fill: var(--color-red);
      }
    }

    .button:nth-of-type(2) .icon {
      background-color: var(--color-bg);
      fill: black;
    }
  }

  &__icon {
    @extend %margin-xs--right;
    height: 3rem;
    width: 3rem;
  }

  &__scroll-down {
    @extend %padding-sm--bottom;
    position: relative;
    grid-row: 7 / 8;

    div {
      max-width: 60%;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: white;
      top: 0;
      left: -100%;
      right: 5rem;
      height: 100%;
      z-index: -1;
    }

    a {
      display: flex;
      flex-direction: column;
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      box-shadow: var(--box-shadow);
      transform: translateY(-50%);
      background-color: white;
    }
  }

  &__shape {
    width: 100vw;

    @include breakpoint(sm) {
      width: 70vw;
    }

    @include breakpoint(lg) {
      width: 60vw;
    }

    @include breakpoint(xl) {
      width: 50vw;
    }

    &-wrapper {
      height: 100vh;
      overflow: hidden;
      justify-self: flex-end;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;

    @include breakpoint(md) {
      height: 80vh;
      width: auto;
      right: var(--space-sm);
    }
  }

  &__illustration--2 {
    display: none;
    position: absolute;
    right: calc(var(--space-sm) + 22%);
    bottom: 0;
    height: 32vh;
    z-index: 1;

    @include breakpoint(md) {
      display: block;
    }
  }
}
